.list-group-item{
    cursor: pointer;
    padding: 0 !important;
}
.item-link:hover, .item-link{
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    padding: 12px 20px;
}